<!-- <h1>reservation works!</h1> -->
<!-- <p> reservationName : <strong>{{reservation.clientname}}</strong></p> -->
<main>

    <section class=" text-center container">
      <div >
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Liste des reservations</h1>
          <hr>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"    >
    <!-- *ngFor="let reservation of reservationslist" -->
          <div class="col"  >
            <div class="card shadow-sm">
             
              <div class="card-body">
                <label  class="card-text">Reservation numéro : {{reservationslist[0].id}}</label><br>
                <label  class="card-text">Nom de client est: {{reservationslist[0].clientname}}</label>
                <small class="text-muted"><label  class="card-text">Date d'arrivée est : {{reservationslist[0].datearrivee}}</label>
                </small>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button routerLink="/reservation/{{reservationslist[0].id}}" type="button" class="btn btn-sm btn-outline-secondary">plus d'informations</button>
                    <button (click)="addToArchive(reservationslist[0].id)"type="button" class="btn btn-sm btn-outline-secondary">Ajouter dans l'archive</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
