<h3> Restauration Details:</h3>

<hr>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <strong>Restauration :</strong>{{restauration?.id}}    
</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <strong>Nom de restaurant : </strong>{{restauration?.nom_restaurant}}</li>
      <li class="list-group-item"> <strong>Menu : </strong>{{restauration?.menu}}</li>
      <li class="list-group-item"><strong>Fruits : </strong>{{restauration?.fruits}}</li>
      <li class="list-group-item"><strong>Boissons : </strong>{{restauration?.boissons}}</li>
    </ul>
    <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button (click)="addToCart()" type="button" class="btn btn-sm btn-outline-secondary">Confirmation du restauration </button>
          </div>
        
      </div>
  </div>