<h3>Détails de l'activité :</h3>

<hr>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <strong>Activite :</strong>{{activite?.id}}    
</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> <strong>Nom de l'activité : </strong>{{activite?.nom_activite}}</li>
      <li class="list-group-item"> <strong>date de l'activité : </strong>{{activite?.date_activite}}</li>
    </ul>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        </div>
        
      </div>
  </div>
