<p>Détails de reservation :</p>


<div class="card" style="width: 18rem;">
    <div class="card-header">
Reservation :{{getId()}}    
</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Nombre de nuits :{{getNbrNuits()}}</li>
      <li class="list-group-item">Nombre de chambres :{{getNbrChambres()}}</li>
      <li class="list-group-item">Nombre d'adultes :{{getNbrAdultes()}}</li>
      <li class="list-group-item">Nombre d'enfants :{{getNbrEnfants()}}</li>

    </ul>
  </div>